body{
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

h1{
    margin: 20px;
    display: flex;
    color: sandybrown;
    background-color: firebrick;
    width: 500px;
    height: 50px;
    border-radius: 25px;
    justify-content: center;
    box-shadow: 5px 5px; 
}

#cart-container {
    margin: 20px;
    display: flex;
    
}

h3{
    color: seashell;
    background-color: seagreen;
    width: 200px;
    align-self: center;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    border: 2px solid black;
}

#add-product{
    background-color:gainsboro;
    border: 0;
    display:inline-block;
    font-size: smaller;
    
}

button{
    background-color: gainsboro;
    color: darkslategrey;
    border:0px;
    display: inline-block;
    margin-left: 40px;
    border-radius: 3px;
    font-size: 15px;
}

#product-name{
    margin-right: 10px;
    border-width: 1px;
}

#product-price{
    margin-right: -30px;
    border-width: 1px;
}

#cart {
    list-style: none;
    padding: 9px;
    margin: 20px;
    border-radius: 10px;
    color: rgb(109, 82, 63);
    background-color: rgb(228, 186, 136);
    font-size: 20px;
    font-weight: 600;
    width: 150px;
    justify-items: center;
    
    
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
     
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
   
}

.cart-item span {
    flex: 1;
   
}

.cart-item {
    margin-left: 10px;
    
}